#__predictUS__()
#Charu Rawat : cr4zy 
#Karan Gadiya : khg8mh 
#Ning Han: nh4mq
#Charishma Ravoori : cr2st

In [2]:
from selenium import webdriver 
from selenium.webdriver.support.ui import Select 
from selenium.webdriver.common.by import By
import time 
import re 
import pandas as pd

In [3]:
driver=webdriver.Chrome("X:/Python/chromedriver.exe")
    
driver.get("https://www.kickstarter.com/discover/advanced?sort=magic&seed=2555148&page=1")



elems = driver.find_elements_by_xpath(".//a[@class='soft-black hover-text-underline']")

allURLs = [] 


for elem in elems:
    allURLs.append(elem.get_attribute("href"))

In [4]:
goal=[]

for url in allURLs:
    
    driver.get(url)
    
    a= driver.find_elements_by_css_selector('span.money')[1].text
    
    goal.append(a)

In [5]:
deadline=[] 

for url in allURLs:
    driver.get(url)
    b = driver.find_elements_by_xpath("//p[contains(@class,'mb3')]")[0].text
    
    deadline.append(b)

print(deadline)

['All or nothing. This project will only be funded if it reaches its goal by Thu, August 16 2018 12:09 AM EDT.', 'All or nothing. This project will only be funded if it reaches its goal by Sat, September 1 2018 11:00 PM EDT.', 'All or nothing. This project will only be funded if it reaches its goal by Wed, August 8 2018 5:59 PM EDT.', 'All or nothing. This project will only be funded if it reaches its goal by Wed, August 15 2018 3:00 PM EDT.', 'All or nothing. This project will only be funded if it reaches its goal by Thu, August 9 2018 11:55 AM EDT.', 'All or nothing. This project will only be funded if it reaches its goal by Thu, September 6 2018 10:59 AM EDT.', 'All or nothing. This project will only be funded if it reaches its goal by Fri, August 24 2018 11:59 PM EDT.', 'All or nothing. This project will only be funded if it reaches its goal by Thu, August 30 2018 11:45 AM EDT.', 'All or nothing. This project will only be funded if it reaches its goal by Thu, September 20 2018 8:00 PM EDT.', 'All or nothing. This project will only be funded if it reaches its goal by Thu, August 16 2018 10:09 PM EDT.', 'All or nothing. This project will only be funded if it reaches its goal by Sat, August 25 2018 12:59 AM EDT.', 'All or nothing. This project will only be funded if it reaches its goal by Wed, August 15 2018 7:42 PM EDT.']

In [6]:
deadline= [ (i.split(",")[1]) for i in deadline] 
deadline=[(i.split(" ")[1:4]) for i in deadline]
deadline

[['August', '16', '2018'],
 ['September', '1', '2018'],
 ['August', '8', '2018'],
 ['August', '15', '2018'],
 ['August', '9', '2018'],
 ['September', '6', '2018'],
 ['August', '24', '2018'],
 ['August', '30', '2018'],
 ['September', '20', '2018'],
 ['August', '16', '2018'],
 ['August', '25', '2018'],
 ['August', '15', '2018']]

In [7]:
category=[] 

for url in allURLs:
    driver.get(url)
    driver.implicitly_wait(20)
    b = driver.find_elements_by_css_selector("span.ml1")[1].text 

    category.append(b)
    
print(category)

['Rock', 'Rock', 'Photobooks', 'Tabletop Games', 'Comic Books', 'Video Games', 'Drinks', 'Spaces', 'Product Design', 'Technology', 'Video Games', 'Public Art']

In [8]:
launch=[]
for url in allURLs:
    driver.get(url)
    driver.implicitly_wait(10)
    link=driver.find_element_by_partial_link_text("Updates")
    link.click() 
    time.sleep(15)
    date = driver.find_element_by_xpath("//div[contains(@class,'timeline__divider--launched')]/div/div/time").text
    launch.append(date)

print(launch)

['July 12, 2018', 'July 31, 2018', 'July 5, 2018', 'July 24, 2018', 'July 10, 2018', 'August 7, 2018', 'July 31, 2018', 'August 2, 2018', 'July 23, 2018', 'June 19, 2018', 'July 24, 2018', 'July 16, 2018']

In [9]:
df=pd.DataFrame() 
df['goal'] = goal 
df['category']= category
df['launch_date'] = launch
df['deadlin_date'] = deadline 
df

          goal        category     launch_date           deadlin_date
0       $5,000            Rock   July 12, 2018     [August, 16, 2018]
1   $1,110,000            Rock   July 31, 2018   [September, 1, 2018]
2      $11,618      Photobooks    July 5, 2018      [August, 8, 2018]
3      $50,000  Tabletop Games   July 24, 2018     [August, 15, 2018]
4      $12,500     Comic Books   July 10, 2018      [August, 9, 2018]
5       $8,000     Video Games  August 7, 2018   [September, 6, 2018]
6       $5,000          Drinks   July 31, 2018     [August, 24, 2018]
7      $15,000          Spaces  August 2, 2018     [August, 30, 2018]
8     $500,000  Product Design   July 23, 2018  [September, 20, 2018]
9      $40,000      Technology   June 19, 2018     [August, 16, 2018]
10     $42,069     Video Games   July 24, 2018     [August, 25, 2018]
11     $30,000      Public Art   July 16, 2018     [August, 15, 2018]

In [10]:
df['goal'] = df.goal.apply(lambda x:x.replace('$',''))
df['goal'] = df.goal.apply(lambda x:x.replace(',',''))
df['goal'] = df.goal.apply(pd.to_numeric)
df

       goal        category     launch_date           deadlin_date
0      5000            Rock   July 12, 2018     [August, 16, 2018]
1   1110000            Rock   July 31, 2018   [September, 1, 2018]
2     11618      Photobooks    July 5, 2018      [August, 8, 2018]
3     50000  Tabletop Games   July 24, 2018     [August, 15, 2018]
4     12500     Comic Books   July 10, 2018      [August, 9, 2018]
5      8000     Video Games  August 7, 2018   [September, 6, 2018]
6      5000          Drinks   July 31, 2018     [August, 24, 2018]
7     15000          Spaces  August 2, 2018     [August, 30, 2018]
8    500000  Product Design   July 23, 2018  [September, 20, 2018]
9     40000      Technology   June 19, 2018     [August, 16, 2018]
10    42069     Video Games   July 24, 2018     [August, 25, 2018]
11    30000      Public Art   July 16, 2018     [August, 15, 2018]

In [11]:
df['launch_date'] = df.launch_date.apply(lambda x:x.replace(',',' '))
df['launch_date'] = pd.to_datetime(df.launch_date)

In [12]:
df['launch_date']=df['launch_date'].dt.strftime('%Y%m%d')

In [13]:
df

       goal        category launch_date           deadlin_date
0      5000            Rock    20180712     [August, 16, 2018]
1   1110000            Rock    20180731   [September, 1, 2018]
2     11618      Photobooks    20180705      [August, 8, 2018]
3     50000  Tabletop Games    20180724     [August, 15, 2018]
4     12500     Comic Books    20180710      [August, 9, 2018]
5      8000     Video Games    20180807   [September, 6, 2018]
6      5000          Drinks    20180731     [August, 24, 2018]
7     15000          Spaces    20180802     [August, 30, 2018]
8    500000  Product Design    20180723  [September, 20, 2018]
9     40000      Technology    20180619     [August, 16, 2018]
10    42069     Video Games    20180724     [August, 25, 2018]
11    30000      Public Art    20180716     [August, 15, 2018]

In [33]:
deadline_date = []
for d in df['deadlin_date']:
    deadline_date.append(pd.to_datetime('-'.join(d)).strftime('%Y%m%d'))

In [45]:
df['deadlin_date'] = pd.Series(deadline_date)

In [50]:
df

       goal        category launch_date deadlin_date
0      5000            Rock    20180712     20180816
1   1110000            Rock    20180731     20180901
2     11618      Photobooks    20180705     20180808
3     50000  Tabletop Games    20180724     20180815
4     12500     Comic Books    20180710     20180809
5      8000     Video Games    20180807     20180906
6      5000          Drinks    20180731     20180824
7     15000          Spaces    20180802     20180830
8    500000  Product Design    20180723     20180920
9     40000      Technology    20180619     20180816
10    42069     Video Games    20180724     20180825
11    30000      Public Art    20180716     20180815

In [53]:
df.to_csv("WebCrawling.csv", sep=',')